<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Email Template</title>
</head>
<body>
	<div class="row">
		<label>Name:</label>
		<p>{{firstName}}</p>
		<label>Email:</label>
		<p>{{email}}</p>
		<label>Number:</label>
		<p>{{number}}</p>
		<label>Message:</label>
		<p>{{message}}</p>
	</div>
</body>
</html>