
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<br><img src="http://acireland.ie/wp-content/uploads/2013/05/Welcome-630x242.jpg" class="img-responsive" align="center">
		<h1>Hello, {{firstName}}</h1>
		<h3>Your {{email}} is verified, please continue with the shopping.</h3>		
	</div>
</div>