<!-- contact -->
	<div class="contact">
		<div class="container">
			<div class="col-md-4 contact-left">
				
				<h5>Need to contact us about something? Reach out, we’d be happy to hear from you.</h5>
				<ul>
					<li><a href="https://web.whatsapp.com/" target="_blank"><i class="fa fa-2x fa-whatsapp" aria-hidden="true"></i></a>  | +91-7445892456</li>
					<li><i class="fa fa-2x fa-mobile" aria-hidden="true"></i>  | +91-7845892456</li>
					<li><i class="fa fa-lg fa-fax" aria-hidden="true"></i>  | +1 078 4589 2456</li>
					<li><a href="mailto:contact@fashionagariya.com"><i class="fa fa-lg fa-envelope-o" aria-hidden="true"></i>  | contact@fashionagariya.com</a></li>
				</ul>
				<div class="iconsocial">
					<ul>
						<li><a href="#" target="_blank"><i class="fa fa-lg fa-facebook"></i></a>  | Facebook messenger.</li>
						<li><a href="#" target="_blank"><i class="fa fa-lg fa-google-plus"></i></a>  | google+ hangouts.</li>
						<li><a href="#" target="_blank"><i class="fa fa-lg fa-instagram"></i></a>  | Instagram DM.</li>
						<li><a href="#" target="_blank"><i class="fa fa-lg fa-youtube"></i></a>  | Youtube messaging.</li>
					</ul>
				</div>
			</div>
			<div class="col-md-8 contact-left">
				<h3>Contact Form</h3>
				<form accept="/user/contact" method="post" id="insert-form">
					<input type="text" placeholder="Name" required id="firstName" name="firstName">
					<input type="email" placeholder="Email" required id="email" name="email">
					<input type="text" placeholder="Mobile(option)" id="number" name="number">
					<textarea type="text"  placeholder="Message...." required id="message" name="message"></textarea>
					<input type="hidden" name="_csrf" value="{{csrfToken}}">
					<input type="submit" value="Submit" >
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //contact -->