<div class="reg-form">
	<div class="container">
		<div class="reg">
			<h3>Reset password</h3>
			<p>Please enter the following details to continue.</p>
			 <form>				 
				<ul>
					<li class="text-info">Email: </li>
					<li><input type="text" id="password-resend" placeholder="Provide email while Registration"></li>
				</ul>						
				<input type="submit" value="Reset" id="resend">
				<span id="msg-resend"></span>
			</form>
		</div>
	</div>
</div>