<div class="reg-form">
		<div class="container">
			<div class="reg">
				<h3>Resend the verification mail</h3>
				<p>Please enter the following details to continue.</p>
				<p>If you have previously registered with us, <a href="/user/login">click here</a></p>
				 <form>				 
					<ul>
						<li class="text-info">Email: </li>
						<li><input type="text" value=""></li>
					</ul>						
					<input type="submit" value="Resend"> 
				</form>
			</div>
		</div>
	</div>