<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<br><img src="http://www.linkerrdesign.co.uk/wp-content/uploads/2014/10/Pebble-thank-you-sand.jpg" class="img-responsive" align="center">
		<h1>Hello, {{firstName}}</h1>
		<h3>Thank you!!, We will respond your query to this email "{{email}}" earliest.</h3>		
	</div>
</div>