<!--apiuser-signup-form -->
	<div class="reg-form">
		<div class="container">
			<div class="reg">
				<h3>Register Now</h3>
				{{#if hasErrors}}
					<div class="alert alert-danger">
						{{# each messages }}
							<p>{{ this }}</p>
						{{/each}}
					</div>
				{{/if}}
				 <form action="/api/apisignup" method="post">
				 	<ul>
						<li class="text-info">Email: </li>
						<li><input type="email" id="email" name="email" autofocus class="form-control"></li>
					</ul>
					<ul>
						<li class="text-info">Password: </li>
						<li><input type="password" id="password" name="password" class="form-control" placeholder="minimum 6 characters"></li>
					</ul>
					<ul>
						<li class="text-info">Username: </li>
						<li><input type="text" id="username" name="username" class="form-control"></li>
					 </ul>				 
					<ul>
						<li class="text-info">Mobile Number:</li>
						<li><input type="number" id="number" name="number" class="form-control" placeholder="10 digit number"></li>
					</ul>
					<input type="hidden" name="_csrf" value="{{ apicsrfToken }}">						
					<input type="submit" id="signup" value="Sign Up"> 
				</form>
			</div>
		</div>
	</div>