<h1>All the backend operation of the application!</h1>

<hr>

<h1>Add option for product management</h1>
<div class="row text-center">
	<div class="col-md-12">
		<h4>Mongodb Database Management Page</h4><hr width="50%">
		<ul>
			<li><a href="/api/prodinsert" class="btn btn-success" role="button">Insert new products</a></li><hr width="50%">
			<li><a href="/api/prodremove" class="btn btn-danger" role="button">Remove product</a></li><hr width="50%">
			<li><a href="/api/produpdate" class="btn btn-info" role="button">Update product</a></li>
		</ul>		
	</div>
</div>

<hr>

<h1>Add option for blog management</h1>
<div class="row text-center">
	<div class="col-md-12">
		<h4>Mongodb Blog Management Page</h4><hr width="50%">
		<ul>
			<li><a href="/api/bloginsert" class="btn btn-success" role="button">Insert new Blog</a></li><hr width="50%">
			<li><a href="/api/blogremove" class="btn btn-danger" role="button">Remove Blog</a></li><hr width="50%">
			<li><a href="/api/blogupdate" class="btn btn-info" role="button">Edit Blog</a></li>
		</ul>		
	</div>
</div>