<div class="row">
	<div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
		<h1>Insert Product</h1>
		<div id="success" class="alert alert-success {{#if noMessages}} hidden {{/if}}">
      		{{ successMsg }}
    	</div>
		<h4>Provide all the details of the product!</h4>
		<form action="/api/prodinsert" method="post" id="insert-form">
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label for="title">Product Title</label>
						<input type="text" id="title" class="form-control" required name="title">
					</div>
				</div>
				<div class="col-xs-12">
					<div class="form-group">
						<label for="category">Product Category</label>
						<input type="text" id="category" class="form-control" required name="category">
					</div>
				</div>
				<div class="col-xs-12">
					<div class="form-group">
						<label for="brand">Product Brand</label>
						<input type="text" id="brand" class="form-control" required name="brand">
					</div>
				</div>
				<div class="col-xs-12">
					<div class="form-group">
						<label for="imagePath">Image Path</label>
						<input type="text" id="imagePath" class="form-control" name="imagePath">
					</div>
				</div>
				<hr>
				<div class="col-xs-12">
					<div class="form-group">
						<label for="description">Description of product</label>
						<input type="text" id="description" class="form-control" required name="description">
					</div>
				</div>
				<div class="col-xs-12">
					<div class="form-group">
						<label for="price">Price of product</label>
						<input type="number" id="price" class="form-control" required name="price">
					</div>
				</div>
				<div class="col-xs-12">
					<div class="form-group">
						<label for="stock">Product Stock Available</label>
						<input type="number" id="stock" class="form-control" required name="stock">
					</div>
				</div>
			</div>
			<input type="hidden" name="_csrf" value="{{ apicsrfToken }}">	
			<button type="submit" class="btn btn-success pull-right">Add Product</button>
		</form>
	</div>
</div>