<!-- about -->
	<div class="about">
		<div class="container">
			<div class="col-md-6 about-left">
				<h3>About Us</h3>
				<p>est eligendi optio cumque nihil impedit quo minus id quod maxime Suspendisse sed accumsan risus. Curabitur rhoncus, elit vel tincidunt elementum, nunc urna tristique nisi, in interdum libero magna tristique ante. adipiscing varius. Vestibulum dolor lorem.
					<span>26 56D Rescue,US</span></p>
				<ul>
					<li>Free Phone :+1 078 4589 2456</li>
					<li>Telephone :+1 078 4589 2456</li>
					<li>Fax :+1 078 4589 2456</li>
					<li><a href="mailto:info@fashionnagariya.com">info@fashionnagariya.com</a></li>
				</ul>
			</div>
			<div class="col-md-4 about-left">
				<h3>Contributors</h3> 
				<p>est eligendi optio cumque nihil impedit quo minus id quod maxime Suspendisse sed accumsan risus. Curabitur rhoncus, elit vel tincidunt elementum, nunc urna tristique nisi, in interdum libero magna tristique ante. adipiscing varius. Vestibulum dolor lorem.
					
				
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //about -->